body{
    background-color: rgb(11, 12, 80);
}
.nav{
    list-style-type:none;
    background-color:rgb(180, 123, 202);
    margin:0;
    padding:0;
    overflow:hidden;
}

ul.nav li{
    float: left;
}
  
ul.nav li a{
    display: block;
    padding:8px 16px;
    color:black;
    text-decoration:none;
    font-size:20px;
}

.grid-container{
    display:grid;
    grid-gap:10px;
    grid-template-columns:auto auto 25%;
}
.grid-item{
    background-color:rgb(187, 160, 211);
    text-align:center;
    font-size:30px;
    padding:20px
}

.navmenu{
    grid-row:1;
    grid-column:1/ span 3;
}

.banner{
    grid-column:1/ span 3;
    grid-row: 2;

}
.main1{
    grid-column:1/ span 2;
    grid-row:3; 
}
.main2{
    grid-column:2/ span 1;
    grid-row:4; 
}

.sidenav{
    grid-column:3;
    grid-row:3/ span 3;
}
.footer{
    position: fixed;
    left:0;
    bottom:0;
    text-align:center;
    width:100%;
    color:aliceblue;
    background-color: rgb(9, 5, 73);
}
h1,h2,h3,h4,h5,p,tr{
    color:rgb(54, 9, 73)
}
h1,h2{
    font-family: "Guyot Sans ExtraLight", sans-serif;
            font-weight: 700;
            font-style: normal;
}
p,tr{
    font-family: "Reina Neue Small Regular", sans-serif;
            font-weight: 500;
            font-style: normal;
}
h3,h4{
    font-family: "Kohinoor Odia Light", sans-serif;
            font-weight: 500;
            font-style: normal;
}
